# Created by https:\\www.toptal.com\developers\gitignore\api\dotnetcore
# Edit at https:\\www.toptal.com\developers\gitignore?templates=dotnetcore

### DotnetCore APPLICATION ###
# .NET Core build folders

## # TEST
## 
/Test.Trade.Test/bin/*
/Test.Trade.Test/obj/*
/Test.Trade.Test/bin
/Test.Trade.Test/obj

## NEW

..\Test.Trade\Test.Trade.Test\bin\*
..\Test.Trade\Test.Trade.Test\obj\*
..\Test.Trade\Test.Trade.Test\bin
..\Test.Trade\Test.Trade.Test\obj

## 
## # DOMAIN
## 
/Test.Trade.Domain/bin/*
/Test.Trade.Domain/obj/*
/Test.Trade.Domain/bin
/Test.Trade.Domain/obj

## NEW

..\Test.Trade\Test.Trade.Domain\bin\*
..\Test.Trade\Test.Trade.Domain\obj\*
..\Test.Trade\Test.Trade.Domain\bin
..\Test.Trade\Test.Trade.Domain\obj

## 
## # INFRAESTRUTURE
##
/Test.Trade.Infrastructure/obj
/Test.Trade.Infrastructure/obj/*
/Test.Trade.Infrastructure/obj/Debug
/Test.Trade.Infrastructure/obj/Debug/*
/Test.Trade.Infrastructure/bin
/Test.Trade.Infrastructure/bin/*
/Test.Trade.Infrastructure/bin/Debug
/Test.Trade.Infrastructure/bin/Debug/*


## NEW

..\Test.Trade\Test.Trade.Infrastructure\bin\*
..\Test.Trade\Test.Trade.Infrastructure\obj\*
..\Test.Trade\Test.Trade.Infrastructure\bin
..\Test.Trade\Test.Trade.Infrastructure\obj


## 
## # API
/Test.Trade/bin/*
/Test.Trade/obj/*
/Test.Trade/bin
/Test.Trade/obj
/Test.Trade/obj/Debug/*
/Test.Trade/obj/Debug
/Test.Trade/SerilogStart/*
/Test.Trade/SerilogStart

## NEW

..\Test.Trade\Test.Trade\bin\*
..\Test.Trade\Test.Trade\obj\*
..\Test.Trade\Test.Trade\bin
..\Test.Trade\Test.Trade\obj
..\Test.Trade\Test.Trade\SerilogStart\*
..\Test.Trade\Test.Trade\SerilogStart

# Common project files
..\Test.Trade\Test.Trade\Migrations\*
..\Test.Trade\Test.Trade\Migrations

## 
## # APPLICATION
/Test.Trade.Application/bin/*
/Test.Trade.Application/obj/*
/Test.Trade.Application/bin
/Test.Trade.Application/obj
/Test.Trade.Application/SerilogStart/*
/Test.Trade.Application/SerilogStart

## NEW

..\Test.Trade\Test.Trade.Application\bin\*
..\Test.Trade\Test.Trade.Application\obj\*
..\Test.Trade\Test.Trade.Application\bin
..\Test.Trade\Test.Trade.Application\obj
..\Test.Trade\Test.Trade.Application\SerilogStart\*
..\Test.Trade\Test.Trade.Application\SerilogStart

# Common publish files
/publish/*
/setup.sql
/.dockerignore
/docker-compose.yml
/deployment.yml
/Test.Trade/Dockerfile
/entrypoint.sh

# End of https:\www.toptal.com/developers/gitignore/api/dotnetcore

### DotnetCore ROOT ###

/.vscode/*
/.vs/*
/.vscode
/.vs